.help-text {
    padding-left: 5px;
}

input[readonly], input[readonly="readonly"] {
    background-color: #ffffff !important;
}

.wrapper-buttons {
    margin-bottom: 10px;
}

.alert {
    margin-bottom: 25px !important;
}