/* Fontes*/
@font-face {
    font-family: 'ubuntu-medium';
    src: url('fonts/ubuntu-medium.woff2') format('woff2'),
         url('fonts/ubuntu-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu-regular';
    src: url('fonts/ubuntu-regular.woff2') format('woff2'),
         url('fonts/ubuntu-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* /Fim: Fontes*/

/* Body */
body{
    font-size: 16px;
    line-height: 16px;
    font-family: 'ubuntu-regular';
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
    position: relative;
}
/* /Body */

/* Menu */
nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
    transition: all ease;
}

nav .conteudo{
    margin-left: -460px;
    height: 100%;
    width: 460px;
    margin-left: -460px;
    transition: all ease;
    background: #ffffff;
}

nav .box{
    background: #ffffff;
    padding: 2.25em;
}

nav .marca{
    background: #7f7f7f;
    padding: 2.25em;
}

nav h2{
    color: #787877;
    border-bottom: 1px solid #787877;
    padding: 0 0 1em 0;
    margin: 0 0 1em 0;
    font-family: 'ubuntu-regular';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2em;
}

nav .superior{
    margin: 1em 0 3em 0;
    padding: 0;
}

nav .superior li{
    color: #787877;
    list-style-type: none;
    margin: 0 0 1.5em 0;
    font-size: 15px;
    cursor: pointer;
    transition: all .1s ease;
}

nav .superior li:hover{
    font-weight: bold;
}

nav .superior li a{
    color: #787877;
    text-decoration: none;
    transition: all .1s ease;
}

nav .superior li a:hover, nav .superior li a:focus, nav .superior li a:active{
    text-decoration: none;
    color: #787877;
    font-weight: bold;
}

nav .superior .sub{
    margin: 1em 0 2.5em 30px;
    display: none;
    font-weight: normal;
    padding: 0;
}

nav .superior .sub li{
    margin: 0 0 0.5em 0;
}

nav .superior .ativo{
    font-weight: bold;
}

nav .inferior{
    margin: 1em 0 3em 0;
    padding: 0;
}

nav .inferior li{
    color: #787877;
    list-style-type: none;
    margin: 0 0 1.5em 0;
    font-family: 'ubuntu-medium';
    font-size: 18px;
    cursor: pointer;
    transition: all .1s ease;
}

nav .inferior li a:hover, nav .inferior li a:focus, nav .inferior li a:active{
    text-decoration: none;
    font-weight: bold;
}

nav .inferior .cor-1 a{
    color: #8e206c;
}

nav .inferior .cor-2 a{
    color: #6dcdf4;
}

nav .inferior .cor-3 a{
    color: #ff5e38
}

nav .inferior .cor-4 a{
    color: #c6d12f;
}

/* /Menu */

/* Topo */
header{
    padding: 2em 0 1.7em 0;
    background: #6ccef5;
    vertical-align: middle;
}

header .icn-menu{
    background-image: url('../img/icn-menu.png');
    display: inline-block;
    width: 26px;
    height: 21px;
    background-size: 100% 100%;
    text-indent: -9999px;
    cursor: pointer;
    margin-right: 2em;
    display: none;
}

header h1{
    /* margin: 0;  issue #242*/ 
    padding: 0;
    display: inline-block;
}

header .login{
    background-image: url(../img/icn-login.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 100%;
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 1.3em 3.5em 1.3em 0;
    display: inline-block;
    margin: 0px 0 0 0;
    font-size: 1em;
    line-height: 0;
}

header input[type=search]{
    background-image: url(../img/icn-busca.png);
    background-color: transparent;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center right;
    outline: 0;
    border: 0;
    border-left: 2px solid #fff;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0 0 0 1em;
    color: #fff;
    width: 1.5em;
    transition: all 0.5s ease;
    text-indent: -999px;
    letter-spacing: 1px;
    display: none;
}

header input[type=search]::placeholder {
  color: #fff;
}

header input[type=search]:hover, header header input[type=search]:focus{
    width: 7em;
    text-indent: 0;
}

/* /Topo */

/* Banner */
.banner{
    position: relative;
}

.space_bottom_13{
    background-color: #6ccdf3;
    padding-bottom: 13px;
}

.banner-interno-container{
    position: relative;
}

.banner-interno{
    width: 100%;
    height: auto;
}

.banner .decoracao, .banner-interno-container .decoracao{
    width: 100%;
    height: 100%;
    background-image: url(../img/textura-banner.png);
    position: absolute;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    max-width: 403px;
    right: 0;
}

.banner .owl-theme .owl-dots{
    margin: -4em 0 1.6em 0;
    z-index: 10;
    position: relative;
}

.owl-theme .owl-dots .owl-dot span{
    border: 1px solid #fff;
    background: none;
}

.banner .owl-theme .owl-dots .owl-dot.active span{
    background: #fff;
}

.banner .owl-theme .owl-dots .owl-dot:hover span{
    border: 1px solid #fff;
    background: rgba(255,255,255, 0.5);
}

.banner .owl-theme .owl-dots .owl-dot span{
    width: 25px;
    height: 25px;
}

.banner .owl-theme .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: 10;
    margin: 0;
    display: none;
}

.banner .item a{
    display: block;
    width: 100%;
    min-height: 520px;
    background-size: cover;
    background-position: center center;
}

.banner p{
    bottom: -1em;
    padding: 5em;
    text-align: center;
    position: absolute;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    color: #fff;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-family: 'ubuntu-regular';
    z-index: 10;
}
/* /Banner */

h2{
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-family: 'ubuntu-medium';
    position: relative;
}

h2::before{
    position: absolute;
    left: 0;
    bottom: -0.5em;
    width: 20px;
    height: 5px;
    content: "";
}

/* Vídeos */
.videos{
    padding: 0;
    margin: 0;
}

.videos .capa{
    width: 50%;
    height: auto;
    display: block;
    float: left;
    cursor: pointer;
    position: relative;
}

.videos .capa .play{
    background-image: url('../img/icn-play.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    left: 0;
    top: 0;
    transition: all 0.5s ease;
    background-size: 15% auto;
}

.videos .capa .play p{
   color: #fff;
    font-size: 1.4em;
    letter-spacing: 1px;
    line-height: 1.5em;
    bottom: 1em;
    position: absolute;
    width: 100%;
    transition: all 0.5s ease;
    text-align: center;
}

.videos .capa:hover .play p{
    text-shadow: 10px 5px 15px rgba(0,0,0,1);
}

.videos .capa:hover .play{
    background-color: transparent;
}

.videos .capa img{
    width: 100%;
    height: auto;
}

.popup-video{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    z-index: 10;
    display: none;
    transition: padding 0.2s ease;
    padding: 5% 20%;
}

.posicao-pop-up{
    padding: 7% 20%;
}

.popup-video .fechar{
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    border: 5px solid #fff;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    z-index: 5;
    cursor: pointer;
    background-color: #7f7f7f;
    background-image: url('../img/icn-erro.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s ease;
}

.popup-video .fechar:hover{
    background-color: #a2a1a1;
}

.embed-responsive{
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    border-radius: 20px;
    border: 10px solid #6ccef5;
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.5);
    transition: all .2s ease;
}

.embed-responsive-item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
    zoom: 0.1;
    transition: all 0.5s ease;
}

.embed-responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.iframe-container{
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}


/* /Vídeos */

/* Publicações */
.publicacoes{
    padding: 4em 0 4em 0;
    background: url('../img/textura-1.png'), url('../img/textura-2.png'), linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 55%,rgba(235,240,245,1) 55%,rgba(235,240,245,1) 100%);
    background-position: top left, right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 1s ease; 
}

.interna{
    background: #fff;
    padding: 0 0 2em 0;
}

.publicacoes h2{
    color: #6ccef5;
}

.publicacoes-title {
    color: #6ccef5;
    margin: 0;
    letter-spacing: 1px;
}

.publicacoes-title::after{
    content: "";
    width: 65px;
    height: 4px;
    background: #6ccef5;
    display: block;
    margin: 0.5em auto 0;
}

.publicacoes a p{
    color: #5b5b5b;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 15px;
    margin: 0;
}

.publicacoes ul{
    margin: 2em 0 0 0;
    padding: 0;
}

.publicacoes ul li a h3{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-family: 'ubuntu-medium';
    position: relative;
    padding: 0 0 0 0;
    margin: 0.5em 0 1em 0;
}

.publicacoes ul li a h4::before{
    content: "";
    width: 20px;
    height: 4px;
    background: #6ccef5;
    display: block;
    bottom: 0;
    position: absolute;
}

.publicacoes ul li a h4{
    margin: 2em 0 0 0;
    font-family: 'ubuntu-medium';
    letter-spacing: 1px;
    position: relative;
    padding: 0 0 1em 0;
}

.publicacoes .cor-1 a{
    color: #c6d12f;
}

.publicacoes .cor-1 a h4::before{
    background: #c6d12f;
}

.publicacoes .cor-2 a{
    color:#6dcdf4;
}

.publicacoes .cor-2 a h4::before{
    background: #6dcdf4;
}

.publicacoes .cor-3 a{
    color:#ff5e38;
}

.publicacoes .cor-3 a h4::before{
    background: #ff5e38;
}

.publicacoes .cor-4 a{
    color:#8e206c;
}

.publicacoes .cor-4 h4::before{
    background: #8e206c;
}

.publicacoes ul li{
    width: 25%;
    padding: 1em;
    margin: 1em 0 1em 0;
    float: left;
    list-style-type: none;
}

.publicacoes ul li:nth-child(4n+1) {
    clear: both;
}

.publicacoes ul li a{
    display: block;
    color: inherit;
}

.publicacoes ul li a:hover{
    text-decoration: none;
}

.publicacoes ul li a:hover img{
    box-shadow: 0px 0px 40px 10px rgba(0,0,0,0.2);
}

.publicacoes ul li a img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
}

.publicacoes .btn-carregar-mais{
    background: #6ccef5;
    color: #fff;
    border-radius: 25px;
    border: 0;
    font-family: 'ubuntu-regular';
    padding: 0.8em 5em 0.8em 2.5em;
    letter-spacing: 1px;
    background-image: url(../img/icn-carregar-mais.png);
    background-repeat: no-repeat;
    background-position: 80% center;
    background-size: 1.5em;
    outline: none;
    margin-top: 1.5em;
    transition: all .2s ease;
}

.publicacoes .btn-carregar-mais:hover{
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}
/* /Publicações */

/* Newsletter */
.newsletter{
    padding: 5em 0;
    background: url('../img/textura-1.png'), url('../img/textura-2.png'), #fff;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.newsletter .news{
    background: #6ccef5;
    border-radius: 10px;
    padding: 4em 0;
    margin: 0;
}

.newsletter .news h3{
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    margin: 0;
    line-height: 30px;
}

.newsletter .news input[type=email]{
    border: 0;
    border-bottom: 2px solid #fff;
    background: none;
    letter-spacing: 1px;
    outline: none;
    padding: 0 0 0.75em 0;
    width: 60%;
    color: #fff;
}

.newsletter .news input[type=email]::placeholder {
  color: #fff;
}

.newsletter .news button{
    border-radius: 10px;
    border: 1px solid #fff;
    background: none;
    padding: 0.8em 2em;
    margin: 0 0 0 2em;
    text-transform:uppercase;
    color: #fff;
    outline: none;
    transition: all 0.5s ease;
    letter-spacing: 1px;
}

.newsletter .news button:hover{
    background: rgba(255,255,255,0.2);
}

.newsletter .retorno-erro, .newsletter .retorno-sucesso{
    display: none;
    text-align: center;
    margin: 1.5em auto -1em;
    border-radius: 5px;
    color: #fff;
    font-size: 0.75em;
    font-family: 'ubuntu-medium';
    text-transform: uppercase;
    width: 100%;
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: 1em center;
    padding: 1.3em 1em 1em 2em;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.2);
}

.newsletter .retorno-erro{
    background-color: #ff5d3a;
    background-image: url('../img/icn-erro.png');
    background-size: 1.6em;
}

.newsletter .retorno-sucesso{
    background-color: #c6d02f;
    background-image: url('../img/icn-correto.png');
}
/* /Newsletter */

/* Serviços */
.servicos{
    padding: 4em 0 4em 0;
    background-image: url('../img/textura-3.png'), url('../img/textura-4.png');
    background-color:#6dcef5;
    background-position: top left, right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.servicos h2{
    color: #fff;
}

.servicos h2::after{
    content: "";
    width: 65px;
    height: 4px;
    background: #fff;
    display: block;
    margin: 0.5em auto 0;
}

.servicos ul{
    margin: 0;
    padding: 0;
}

.servicos ul li{
    width: 30%;
    padding: 0;
    margin: 1.5em 1.66%;
    float: left;
    list-style-type: none;
    border-radius: 10px;
    transition: all .3s ease;
    overflow: hidden;
    background: #70cff5;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.2);
    min-height: 465px;
}

.servicos ul li:hover{
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.3);
    background: #46c1f2;
}

.servicos ul li a img{
    width: 100%;
    height: auto;
    transition: all .3s ease;
}

.servicos ul li:hover img{
    opacity: 0.5;
}

.servicos .texto{
    vertical-align: middle;
    display: inline-block;
}

.servicos h3{
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-family: 'ubuntu-medium';
    position: relative;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.servicos p{
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 15px;
    padding: 0 1em 1em 1em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}
/* /Serviços */

/* Especialistas */
.especialistas{
    padding: 3em 0 4em 0;
    background-color:#ebf0f5;
}

.especialistas h2{
    color: #6ccef5;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    margin: 0;
    letter-spacing: 1px;
}

.especialistas h2::after{
    content: "";
    width: 65px;
    height: 4px;
    background: #6ccef5;
    display: block;
    margin: 0.5em auto 0;
}

.especialistas h3{
    padding: 0 30%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5em;
    color: #5b5b5b;
    margin: 1em 0 2em 0;
}

.especialistas ul{
    margin: 0;
    padding: 0;
}

.especialistas .cor-1{
    background-color: #8e206c;
}

.especialistas .cor-2{
    background-color: #6dcdf4;
}

.especialistas .cor-3{
    background-color: #ff5e38
}

.especialistas .cor-4{
    background-color: #c6d12f;
}

.especialistas ul li{
    width: 21%;
    padding: 0;
    margin: 1.5em 2%;
    float: left;
    list-style-type: none;
    border-radius: 10px;
    transition: all .3s ease;
    overflow: hidden;
    background-image: url('../img/icn-mais.png');
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: 30% auto;
}

.especialistas ul li a img{
    width: 100%;
    height: auto;
}

.especialistas ul li:hover img{
    mix-blend-mode: soft-light;
}

.especialistas .texto{
    color: #fff;
    text-align: center;
    padding: 0.5em;
}

.especialistas .texto h4{
    margin: 0.5em 0 0 0;
    text-transform: uppercase;
    font-size: 14px;
}

.especialistas .texto p{
    margin: 0.3em 0 0.3em 0;
    font-size: 14px;
    min-height: 2.3em;
}
/* /Especialistas */

/* Eventos */
.eventos{
    padding: 3em 0 4em 0;
    transition: all 0.5s ease;
    background: url('../img/textura-1.png'), url('../img/textura-2.png'), #ebf0f5;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.eventos h2{
    color: #6ccef5;
}

.eventos h2::after{
    content: "";
    width: 65px;
    height: 4px;
    background: #6ccef5;
    display: block;
    margin: 0.5em auto 0;
}

.eventos label{
    color: #5b5b5b;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 1.05em;
    margin: 2em 0 0.5em 0;
    display: block;
    text-align: center;
    font-family: 'ubuntu-medium';
}

.eventos select{
    margin: 0 auto 1em;
    display: block;
    width: 20%;
    border-radius: 30px;
    border: 2px solid #787877;
    padding: 0.8em 1em;
    outline: none;
    font-family: 'ubuntu-medium';
    color: #5b5b5b;
    font-size: 1.05em;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    background-color: #fff;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
}

.eventos ul{
    margin: 0;
    padding: 0;
}

.eventos ul li{
    width: 30%;
    padding: 0;
    margin: 1.5em 1.66%;
    float: left;
    list-style-type: none;
    transition: all .3s ease;
    min-height: 420px;
}

.eventos ul li a{
    display: block;
    position: relative;
}

.eventos ul li a .data{
    background: #fff;
    border-radius: 30px;
    position: absolute;
    top: 115px;
    left: 50%;
    padding: 1em;
    width: 85%;
    margin: -5% 0 0 -42%;
    box-sizing: border-box;
    text-align: center;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 5-7 */
    filter: alpha(opacity=80);
    /* Netscape */
    -moz-opacity: 0.8;
    /* Safari 1.x */
    -khtml-opacity: 0.8;
    /* Good browsers */
    opacity: 0.8;
}

@media(max-width: 1199px){
    .eventos ul li a .data{
        top:85px;
    }
}

@media(max-width: 991px){
    .eventos ul li a .data{
        top:55px;
    }
}

@media(max-width: 700px){
    .eventos ul li a .data{
        top:45px;
    }
}

@media(max-width: 576px){
    .eventos ul li a .data{
        top:25%;
    }
}

.eventos ul li a .data span{
    color: #8e206c;
    text-transform: uppercase;
    font-family: 'ubuntu-medium';
    font-size: 15px;
}

.eventos ul li a .data .borda{
    border-right: 2px solid #8e206c;
    padding: 0 0.8em 0 0;
    margin: 0 0.5em 0 0;
}

.eventos ul li img{
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.eventos ul li:hover img{
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.4);
}

.eventos h3{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-family: 'ubuntu-medium';
    color: #787877;
    margin: 1em 0 0.5em 0;
}

.eventos p{
    color: #787877;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 15px;
    margin: 0;
}

.eventos ul li a:hover{
    text-decoration: none;
}

.eventos .btn-carregar-mais{
    background: #6ccef5;
    color: #fff;
    border-radius: 25px;
    border: 0;
    font-family: 'ubuntu-regular';
    padding: 0.8em 5em 0.8em 2.5em;
    letter-spacing: 1px;
    background-image: url(../img/icn-carregar-mais.png);
    background-repeat: no-repeat;
    background-position: 80% center;
    background-size: 1.5em;
    outline: none;
    margin-top: 1.5em;
    transition: all .2s ease;
}

.eventos .btn-carregar-mais:hover{
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
}

.eventos .alerta{
    text-align: center;
    margin: 3em auto 1em;
    border-radius: 5px;
    color: #fff;
    font-size: 0.75em;
    font-family: 'ubuntu-medium';
    text-transform: uppercase;
    width: 100%;
    background-repeat: no-repeat;
    padding: 2em;
    box-shadow:0px 0px 8px 3px rgba(0,0,0,0.2);
    background-color: #6ccef5;
    background-size: 1.6em;
}
/* Eventos */

/* Rodapé */
footer{
    background:#6ccef5;
    padding: 3em 0;
}

footer h5{
    color: #fff;
    font-size: 1.2em;
    margin: 0.6em 0 0.4em 0;
}
footer p b{
    font-size: 0.9em;
}
footer p a{
    font-size: 0.8em;
    color: #fff;
    text-decoration: underline;    
}

footer p{
    color: #fff;
    font-size: 1em;
    margin: 0.8em 0 0 0;
}

footer img{
    margin: 0.5em 0 0 0;
}

footer .assinatura{
    margin: -0.5em 0 0 0;
}
/* /Rodapé */

/* Artigo */
article{
    background: url('../img/textura-5.png');
    background-position: center right;
    background-repeat: no-repeat;
    overflow:hidden;
    padding: 4em 1em 0;
}

article .autor{
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
}

article .autor img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border:5px solid #ff5e38;
    max-width: 150px;
}

article .autor h2{
    color: #ff5e38;
    margin: 0.65em 0 0 0;
    font-family: 'ubuntu-medium';
    letter-spacing: 1px;
    text-align: left;
}

article .autor h3{
    color: #ff5e38;
    margin: 1em 0;
    font-family: 'ubuntu-medium';
    letter-spacing: 1px;
}

article .autor p{
    color: #5b5b5b;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-size: 15px;
    margin: 0;
}

article .texto{
    width: 100%;
    max-width: 730px;
    margin: 1em auto 0;
}

article .texto img{
    width: 100%;
    height: auto;
    margin: 1em 0;
}

article .texto h2{
    color: #5b5b5b;
    margin: 0.5em 0 1em 0;
    letter-spacing: 1px;
    position: relative;
    text-align: left;
}

article .texto h2::before{
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 20px;
    height: 5px;
    content: "";
    background: #5b5b5b;
}

article .texto h3{
    color: #ff5e38;
    margin: 3em 0 0.5em;
    font-family: 'ubuntu-medium';
    letter-spacing: 1px;
}

article .texto p{
    color: #5b5b5b;
    letter-spacing: 1px;
    line-height: 1.8em;
    font-size: 18px;
}
/* /Artigo */

/* Gerais */
.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.clear{
    clear: both;
}

#armored_website{
    position: absolute;
}
/* /Gerais */


/* Medias Queries */
@media (max-width: 576px){
    
    header .icn-menu{
        margin-right: 1em;
        margin-top: 5px;
        float: left;
    }

    /* issue #242 */
    header h1{
        margin: 5% 15%;
        display: block;
        text-align: center;
    }
    .mobile-padding{
        padding: 0;
    }
    .container-login{
        padding: 0;
        float: none !important;
    }
    .border-left-white {
        border: none !important;
    }
    /* issue #242 */

    header h1 img{
        width: 100%;
        height: auto;
    }

    .popup-video{
        padding: 20% 15%;
        overflow: scroll;
    }
    .banner p{
        font-size: 1em;
        padding: 2em 1em 3em 1em;
    }
    .videos .capa .play p{
        font-size: 1em;
    }
    .banner .owl-theme .owl-dots .owl-dot span{
        width: 15px;
        height: 15px;
    }

    .banner .decoracao, .banner-interno-container .decoracao{
        max-width: 50%;
        background-size: cover;
    }

    .banner .item a{
        min-height: 350px;
    }
    
    .publicacoes ul li, .servicos ul li, .especialistas ul li, .eventos ul li{
        width: 100%;
        margin: 0 0 1em 0;
        min-height: inherit;
    }
    .videos .capa{
        width: 100%;
    }

    .videos .capa .play{
        background-size: 15% auto;
    }

    .publicacoes{
        background: url(../img/textura-1.png), linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 55%,rgba(235,240,245,1) 55%,rgba(235,240,245,1) 100%);
        background-position: top left, right bottom;
        background-repeat: no-repeat;
        background-attachment: fixed
    }
    .publicacoes ul li a h3{
        min-height: initial;
        margin-bottom: 0.5em;
        font-size: 20px;
    }
    .publicacoes .news input[type=email]{
        width: 80%;
        margin: 1em auto;
        box-sizing: border-box;
        display: block;
    }
    .publicacoes .news button{
        width: 80%;
        padding: 1em;
        margin: 0 auto;
        box-sizing: border-box;
        display: block;
    }
    .publicacoes h2::before{
        display: none;
    }
    .banner .owl-theme .owl-dots{
        margin: -2.5em 0 12px 0;
    }
    .newsletter{
        padding: 5em 0;
        background: url(../img/textura-1.png), #fff;
        background-position: top left;
        background-attachment: fixed;
    }
    .news-center{
        text-align: center;
        margin: 1.5em 0 0 0;
    }
    .newsletter .news input[type=email]{
        margin-bottom: 1em;
        text-align: center;
        width: 80%;
    }
    .newsletter .news button{
        margin: 0.5em auto 0;
        display: block;
        max-width: 50%;
    }
    .especialistas h3{
        padding: 0;
    }
    .eventos{
        background: url(../img/textura-1.png), #ebf0f5;
        background-position: top left;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .eventos select{
        width: 100%;
        margin: 0 0 2em 0;
    }
    .eventos ul li a .data{
        width: 80%;
        left: 10%;
        margin: 0;
    }
    .servicos{
        padding: 4em 0 4em 0; /* issue #242 */
        background-image: url(../img/textura-3.png);
        background-color: #6dcef5;
        background-position: top left;
        background-attachment: fixed;
    }
    .servicos h2{
        margin: 2em 0 1.5em 0;
    }
    .servicos h3{
        font-size: 20px;
    }
    .servicos ul{
        margin: -1em 0 0 0;
    }
    .servicos ul li{
        margin:1em 0;
    }
    .servicos .texto{
        min-height: inherit;
        margin: 1em 0 1em 0;
    }
    .eventos h3{
        min-height: initial;
        margin: 1.2em 0 0.5em 0;
        font-size: 20px;
    }
    article .autor h2{
        text-align: center;
    }
    footer{
        text-align: center;
    }
    footer .text-right{
        text-align: center;
    }
    footer .assinatura{
        margin: 1em 0 0 0;
    }
    article .autor{
        text-align: center;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    footer{
        text-align: center;
    }
    footer .assinatura {
        margin: 1em 0 0 0;
    }
    footer .text-right{
        text-align: center;
    }
    article .autor{
        max-width: 100%;
        text-align: center;
    }
    article .autor h2{
        text-align: center;
    }
    .banner p{
        padding: 3em 1em 3em 1em;
    }
    .banner .decoracao, .banner-interno-container .decoracao{
        max-width: 50%;
        background-size: cover;
    }

    .banner .item a{
        min-height: 400px;
    }

    .videos .capa .play p{
        font-size: 1em; 
        padding: 0 1em;   
    }
    .servicos ul li{
        width: 46.3%;
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .eventos ul li{
        width: 29.4%;
        float: left;
        display: inline-block;
        vertical-align: top;
    }
    .news-center{
        text-align: center;
        margin: 1.5em 0 0 0;
    }
    .publicacoes a h2{
        min-height: initial;
        margin-bottom: 1.5em;
        font-size: 20px;
    }
    .servicos h3{
        min-height: initial;
        margin: 0.5em 0 0.4em 0;
        font-size: 20px;
    }
    .eventos h3{
        min-height: initial;
        margin: 0.5em 0 0.4em 0;
        font-size: 20px;
    }
    .publicacoes ul li{
        width: 49.5%;
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .news-center{
        text-align: center;
        margin: 1.5em 0 0 0;
        padding: 0 2em;
        box-sizing: border-box;
    }
    .newsletter .news input[type=email]{
        margin-bottom: 1em;
        text-align: center;
        width: 80%;
    }
    .newsletter .news button{
        margin: 0.5em auto 0;
        display: block;
        max-width: 50%;
    }
    .eventos select{
        width: 70%;
    }
}

/* /Medias Queries */
/* issue #242 */
@media (max-width: 767px){
    .visible-xs{
        text-align: center;
    }
    .border-left-white {
        border: none !important;
    }    
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .login-bt {display: none !important}
    .container-login {float: none !important;}
}
/* issue #242 */

@media (min-width: 780px) {
    .border-left-white {
        border-left: 2px solid #fff;
    }
}


.container-login {
    overflow: hidden;
    float: right;
    margin-left: 10px;
    padding: 0px 10px;
}

.label-grande {
    white-space: normal;
    padding-right: 33px;
}

.bg-azul {
    background-color: #6ccef5;
}