.post-media {
    display: flex;
    flex-wrap: wrap;
}
.post-media .post-image {
    margin-right: 10px;
}
.bt-nostyle {
    background: none;
    padding: 0px;
    border: none;
}
.more-dropdown form {
    margin: 0px;
}
.more-dropdown li {
    padding: 0px;
    border: none;
    background: none;
}
  .more-dropdown button {
   padding: 7px 0;
   font-size: 14px;
   color: #8c8f9c;
   display: block;}
.more-dropdown button:hover {
   color: #ff5e3a; }
label[for="like"]:hover, label[for="like_comment"]:hover {
    cursor: pointer;
}
.preview-images {
    padding:15px;
}
.preview-images img {
    width: 50px;
    width: 50px;
    margin-right:10px;
}

.author-content .sair {
    color: #5d0046;
    font-size:0.812rem;
}

.w-friend-pages-added.add-members-list .notification-friend {
	min-width: 130px;
}

.w-friend-pages-added.add-members-list .notification-event {
	max-width: 63%;
}