/*Alterações para ajustes App Fornecedor-Comprador Sesi Mais*/

.bg-comp-fornecedor {
    background-color: #EBF0F5;
}
/* Formulários */
label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-left: 15px;
    color: #2b2b2b;
}
.form input[type="submit"] {
    margin-top: 50px;
}
.vl {
    border-left: 1px solid green;
    height: 500px;
    width: 1px;
}
.form--control {
    margin-bottom: 0px;
}
.section--form {
    width: 100%;
    max-width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.2px;
    color: #000;
    position: relative;
    padding-bottom: 20px; 
}
.n-cadastre {
    width: 152px;
    height: 54px;
    display: block;
    margin: 40px auto;
    text-align: center;
}
.n-cadastre p {
    margin-bottom: -10px;
}
.n-underline {
    color: #8d216c;
    text-decoration: underline;
    font-size: 15px;
}
.li-termos {
    color: #8d216c;
    font-size: 15px;
}
.li-termos, .n-cadastre {
    width: 100%;
}
/* Checkbox customização */
.checkmark {
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.checkmark:hover input {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkmar input:checked {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
