/* CSS Document */
  
/* Fonts */
@font-face {
    font-family: 'titillium-regular';
    src: url('../fonts/titillium-regular.woff2') format('woff2'),
        url('../fonts/titillium-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titillium-semibold';
    src: url('../fonts/titillium-semibold.woff2') format('woff2'),
        url('../fonts/titillium-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'titillium-bold';
    src: url('../fonts/titillium-bold.woff2') format('woff2'),
        url('../fonts/titillium-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* /Fonts */
  
main{
    padding: 3em 0;
}

main .migalha{
    margin: 0 0 2em 0;
}

main .migalha ul{
    margin: 0;
    padding: 0;
}

main .migalha ul li{
    display: inline;
    color:#a7a9ac;
    font-size: 0.7em;
}

main .migalha ul li a{
    color:#a7a9ac;
    transition: color 0.5s ease;
}

main .migalha ul li a:hover{
    color:#2a466c;
    text-decoration: none;
}

main p{
    color:#222324;
    margin: 0 0 1.2em 0;
    font-size: 1em;
    line-height: 1.4em;
}

main figure{
    margin: 2em 0 3em 0;
}

main figure img{
    width: 100%;
    height: auto;
}

main figure figcaption{
    text-align: center;
    color: #222324;
    margin: 0 0 1.2em 0;
    font-size: 0.8em;
    line-height: 1.4em
}

main figure figcaption b{
    font-family: 'titillium-semibold';   
}

main ul li{
    color:#222324;
    font-size: 1em;
    line-height: 1.4em;
}

main p img{
    margin: 1em 0 0 0;
}



/* /Main */


/* post */
.post{
    margin: 0 0 0 0;
    padding: 0;
    width: 100%;
    float: left;
}

.post article h2{
    margin: 0 0 0.3em 0;
    line-height: 1.2em;
    color: #323232;
    font-family: 'titillium-bold';
    font-size: 2em;
}

.post article img{
    width: 100%;
    max-height: 400px;
    margin: 0 0 1.5em 0;    
}

.post article .autor{
    color:#45627f;
    font-size: 0.7em;
    margin: 0 0 2em 0;
}

.post article .autor a{
    text-transform: uppercase;
    color:#45627f;
    font-family: 'titillium-bold';
}

.post .share{
    margin-top: 2em;
    border-top: 2px solid #ccb589;
    border-bottom: 2px solid #ccb589;
    padding: 1em 0;
    text-align: center;
    font-family: 'titillium-bold';
}

.post .share span{
    margin-right: 30px;
    color: #323232;
}

.post .share a{
    margin-right: 10px;
}

.post .share a img{
    width: 1em;
    height: auto;
    margin-top: -0.5em;
}

.post .links{
    margin-top: 2em;
}

.post .links .text-right{
    text-align: right;
}

.post .links a{
    display: block;
}

.post .links .navegacao{
    color: #b5b5b5;
    font-size: 0.8em;
    font-family: 'titillium-semibold';
    font-weight: normal;
    transition: color 0.5s ease;
}

.post .links .navegacao:hover{
    text-decoration: none;
    color: #999999;
}

.post .links .titulo{
    color: #101315;
    font-size: 1em;
    font-family: 'titillium-bold';
    font-weight: normal;
    transition: color 0.5s ease;
    margin-top: 0.2em;
    text-transform: uppercase;
}

.post .links .titulo:hover{
    text-decoration: none;
    color: #45627f;
}
/* Post*/

/* Gerais */
.clear{
    clear: both;
}

.interna{
    background:#2a466c;
    border-bottom: 2px solid #e2d5bc;
}

.pontilhado{
    background-image:url('../img/textura-azul.png');
    border-bottom: 2px solid #e2d5bc;
}
/* /Gerais */
